.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Title {
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  justify-items: center;
  margin: 20px;
  display:flex;
  flex-flow: column nowrap; 
  flex-direction: row;
  
  flex-flow: row wrap;
  justify-content: flex-start;
}

.Sign {
  display: flex;
  text-align: right;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  padding-bottom: 36px;
}

.card2 {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.container {
  padding: 16px;
}


img {
  display: inline-block;
  max-height: 300px;
}

.movie-title {
  clear: both;
  display: inline-block; 
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 200;
  /* border: solid; */
  margin-right: 100px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
